#** DATA STRUCTURES **
1. What are data structures, and why are they important?

-Data structures are specialized formats for organizing, storing, and managing data in a computer so that it can be used efficiently. They provide a way to handle data in a structured manner, enabling efficient access, modification, and operations. Common data structures include lists, tuples, dictionaries, sets, and strings in Python.

They are important :
Efficiency: They allow for efficient data access and manipulation, reducing time and space complexity.

Organization: They help in organizing data logically, making it easier to understand and work with.

Reusability: Data structures provide reusable solutions to common problems, such as searching, sorting, and storing data.

Scalability: They enable handling large datasets effectively.


2. Explain the difference between mutable and immutable data types with examples?
-Mutable: Data types that can be modified after creation. Examples include lists, dictionaries, and sets.

In [ ]:
my_list = [1, 2, 3]
my_list[0] = 10  # Modifying the list
print(my_list)   # Output: [10, 2, 3]

[10, 2, 3]

Immutable: Data types that cannot be modified after creation.

In [ ]:
my_string = "hello"
# my_string[0] = "H"  # This will raise an error
new_string = my_string.replace("h", "H")  # Creates a new string
print(new_string)  # Output: "Hello"

Hello

3. What are the main differences between lists and tuples in Python?
-Lists vs. Tuples in Python
Feature	Lists	Tuples
Mutability	Mutable (can be modified)	Immutable (cannot be modified)
Syntax	Defined with square brackets []	Defined with parentheses ()
Use Case	For dynamic data	For fixed, unchanging data
Performance	Slightly slower	Faster due to immutability.

4.Describe how dictionaries store data?
Dictionaries store data as key-value pairs. Each key is unique and maps to a value. Internally, dictionaries use a hash table to store and retrieve data efficiently.

In [ ]:
my_dict = {"name": "Alice", "age": 25}
print(my_dict["name"])  # Output: "Alice"

Alice

5.Why might you use a set instead of a list in Python?
Sets are used when you need to store unique elements and perform operations like union, intersection, or difference.

They are faster for checking membership (in keyword) compared to lists.

In [ ]:
my_set = {1, 2, 3, 3}  # Duplicates are automatically removed
print(my_set)  # Output: {1, 2, 3}

6.What is a string in Python, and how is it different from a list?
-Strings are sequences of characters and are immutable.

Lists are sequences of any data type and are mutable.

In [ ]:
my_string = "hello"
my_list = ["h", "e", "l", "l", "o"]

7.How do tuples ensure data integrity in Python?
-Tuples are immutable, meaning their elements cannot be changed after creation. This ensures that the data remains consistent and unaltered, which is useful for storing fixed values like coordinates or configurations.

In [ ]:
coordinates = (10, 20)
# coordinates[0] = 15  # This will raise an error

8.What is a hash table, and how does it relate to dictionaries in Python?
A hash table is a data structure that maps keys to values using a hash function. Dictionaries in Python are implemented using hash tables, allowing for fast lookups, insertions, and deletions.


9.Can lists contain different data types in Python?
Yes, lists in Python can contain elements of different data types.

In [ ]:
my_list = [1, "hello", 3.14, True]

10. P Explain why strings are immutable in Python?
-Strings are immutable to ensure security (e.g., preventing unintended changes) and optimization (e.g., allowing string interning and reuse).
Security: Immutability provides a level of security. Since strings cannot be changed in-place, you can be confident that a string's value won't be unintentionally modified by another part of your code. This is especially important when strings are used as keys in dictionaries or elements in sets.

Performance: Immutability allows for certain optimizations, like string interning. Python can store only one copy of each distinct string in memory, and multiple variables can refer to the same string object. This saves memory and improves performance.

Hashing: Strings are often used as keys in dictionaries, and hashing is crucial for efficient dictionary operations. Immutable strings ensure that their hash value remains constant, preventing inconsistencies in dictionary lookups.

Thread safety: In multi-threaded environments, immutable strings can be shared safely between threads without the risk of data corruption. Since strings can't be changed, there's no need for locks or other synchronization mechanisms to protect them.
In simpler terms, immutability makes strings more reliable, efficient, and predictable in various scenarios. It's a fundamental design decision that contributes to the overall robustness of Python.
  


  


  11.What advantages do dictionaries offer over lists for certain tasks?
  -Fast Lookups: Dictionaries use hash tables for O(1) average time complexity for lookups.

Key-Value Pairs: They allow storing data in a structured way using keys.

12. Describe a scenario where using a tuple would be preferable over a list?
Use tuples when:

The data should not change (e.g., constants, configurations).

You need to ensure data integrity.

In [ ]:
days_of_week = ("Monday", "Tuesday", "Wednesday")

13. How do sets handle duplicate values in Python?

-Sets automatically remove duplicate values when created.

In [ ]:
my_set = {1, 2, 2, 3}
print(my_set)  # Output: {1, 2, 3}

14. How does the “in” keyword work differently for lists and ?

-For lists, in checks each element sequentially (O(n) time complexity).

For dictionaries, in checks for keys using a hash table (O(1) average time complexity)

15.Can you modify the elements of a tuple? Explain why or why not?

-No, tuples are immutable. Once created, their elements cannot be changed.


16.What is a nested dictionary, and give an example of its use case?

-A nested dictionary is a dictionary within another dictionary. It is useful for representing hierarchical data.

In [ ]:
student_data = {
    "John Doe": {
        "age": 20,
        "major": "Computer Science",
        "grades": {"midterm": 85, "final": 92}
    },
    "Jane Smith": {
        "age": 22,
        "major": "Biology",
        "grades": {"midterm": 78, "final": 88}
    }
}

17.
Describe the time complexity of accessing elements in a dictionary?

-Accessing elements in a dictionary has an average time complexity of O(1) due to the use of hash tables.


18.In what situations are lists preferred over dictionaries?


-se lists when:

You need an ordered collection of items.

You don’t need key-based access.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

-In Python versions before 3.7, dictionaries were unordered. From Python 3.7+, dictionaries maintain insertion order, but they are still primarily designed for key-based access rather than order.

20.Explain the difference between a list and a dictionary in terms of data retrieval?

-Lists: Retrieve data by index (O(1) for access by index, O(n) for searching).

Dictionaries: Retrieve data by key (O(1) average time complexity).

In [ ]:
my_list = [10, 20, 30]
print(my_list[0])  # Output: 10

my_dict = {"a": 10, "b": 20}
print(my_dict["a"])  # Output: 10

In [ ]:
 #PRACTICAL QUESTIONS #

PRACTICAL QUESTIONS



1.Write a code to create a string with your name and print IT ?

In [ ]:
name = "ayush"
print(name)

ayush

2.Write a code to find the length of the string "Hello World"?

In [ ]:
string="hello world"
length=len(string)
print(length)

11

3.Write a code to slice the first 3 characters from the string "Python Programming"?

In [ ]:
string = "python programming"
sliced_string = string[0:3]
print(sliced_string)

pyt

4. Write a code to convert the string "hello" to uppercase?

In [ ]:
string="hell0"
uppercase_string=string.upper()
print(uppercase_string)

HELL0

5.Write a code to replace the word "apple" with "orange" in the string "I like apple?

In [ ]:
string="i like apple"
new_string=string.replace("apple","orange")
print(new_string)

i like orange

6.Write a code to create a list with numbers 1 to 5 and print it?

In [ ]:
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [ ]:
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
my_list=['a','b','c','d']
second_element=my_list[1]
print(second_element)

b

10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list=[10,20,30,40,50]
revewsed_list=list[::-1]
print(revewsed_list)

[50, 40, 30, 20, 10]

11.. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animals = ('dog', 'cat', 'rabbit')
index = animals.index('cat')
print(index)

1

 15.write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ('apple', 'banana', 'orange')
is_kiwi_in_fruits = 'kiwi' in fruits
print(is_kiwi_in_fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [1]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [2]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [3]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)  # Output: {1, 2, 3}

{1, 2, 3}

19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [4]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [5]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {2, 3}

{2, 3}

21.1. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
my_dict = {"name": "John", "age": 25, "city": "New York"}
print(my_dict)

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [ ]:
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)  # Output: {'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [6]:
my_dict = {'name': 'Alice', 'age': 30}
value = my_dict["name"]
print(value)  # Output: Alice

Alice

24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [ ]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)  # Output: {'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [7]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
    print("Key exists!")  # Output: Key exists!
else:
    print("Key does not exist.")

Key exists!

26.Write a code to create a list, a tuple, and a dictionary, and print them all

In [ ]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"name": "John", "age": 25}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [8]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[1, 9, 49, 71, 98]

28.Write a code to create a list with strings and print the element at the third index.

In [ ]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[3])  # Output: date

29.. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)  # Output: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

30.. Write a code to convert a list of strings into a set.

In [9]:
my_list = ["apple", "banana", "cherry", "apple"]
my_set = set(my_list)
print(my_set)  # Output: {'apple', 'banana', 'cherry'}

{'banana', 'apple', 'cherry'}